/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*  ------------------------------------------GRID SYSTEM------------------------------------------*/

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
    box-sizing: border-box;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
    box-sizing: border-box;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
    box-sizing: border-box;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    box-sizing: border-box;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666666%;
    box-sizing: border-box;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
    box-sizing: border-box;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
    box-sizing: border-box;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666666%;
    box-sizing: border-box;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
    box-sizing: border-box;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
    box-sizing: border-box;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666666%;
    box-sizing: border-box;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
}






.my-lg {
    margin-top: 120px;
    margin-bottom: 120px;
}

.mt-sm {
    margin-top: 40px;
}

.mt-xs {
    margin-top: 16px;
}

.mb-lg {
    margin-bottom: 220px;
}


.mt-md {
    margin-top: 64px;
}

.my-md {
    margin-top: 64px;
    margin-bottom: 64px;
}

.my-xs {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mb-sm {
    margin-bottom: 16px;
}

.py-sm {
    padding-top: 64px;
    padding-bottom: 64px;
}

.py-lg {
    padding-top: 120px;
    padding-bottom: 120px;
}

.px-sm {
    padding-left: 64px;
    padding-right: 64px;
}

.p-sm {
    padding: 64px 64px;
}

/*--TYPOGRAPHY-------*/

h1,
h2,
h3,
h4,
h5,
p,
button,
input[type=submit],
label,
span,
a,
li {
    font-family: 'Mulish', sans-serif;
    color: #2d005c;
    line-height: 150%;
}

p,
label {
    font-size: 1.1125rem;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h1 {
    margin-bottom: 5rem;
}


.xl {
    font-size: 4rem;
}

.large {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 0rem;
}

.med {
    font-size: 2rem;
    padding-top: 0px;
    margin-top: 0px;
}




/*  ------------------------------------------BUTTONS------------------------------------------*/
input[type=submit],
button,
.buttonPrimary,
.buttonGold {
    padding: 16px 32px;
    border: 0px;
    margin: 12px;
    border-radius: 4px;
    font-size: 1.125rem;
    text-decoration: none;
    letter-spacing: 15%;
    vertical-align: middle;
}


.buttonPrimary,
button.buttonFinalizationList {
    background-color: #92d2ff;
}

.buttonGold,
button.buttonWellnessList {
    background-color: #ffc32a;
}

.buttonDark {
    background-color: #2D005C;
    color: #fff;
}

input[type=submit]:hover,
button:hover,
.buttonPrimary:hover,
.buttonGold:hover {
    transform: scale(115%) rotate(5deg);
    transition-duration: .2s;
}



button.buttonWellnessList,
button.buttonFinalizationList {
    border: 0px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 12px;
    padding: 16px 32px;
    border-radius: 16px;
}



input[type=submit]:disabled,
button:disabled {
    padding: 16px 32px;
    border: 0px;
    margin: 12px;
    transform: none;
    transition-duration: none;
    background-color: #fae3a8;
    color: grey;
    text-decoration: line-through;
    font-size: 1rem;
}



.inputBtnSideBySide {
    margin-right: -18px;
}

.bulk {
    margin-left: -12px;
}

/*
.buttonsList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
} */

/*  --------------------------------INPUT-------------------------------*/

input[type=text] {
    height: 3.2rem;
    border-radius: 4px;
    border: 1px solid grey;
    width: 15rem;
    padding-inline: 0px;
    vertical-align: middle;
}

input[type=text].inputSmall {
    width: 10rem;
}


/*  ---------------------SIDEBAR-------------------------------------*/

#checkInOrder {
    position: sticky;
    max-height: 96vh;
    top: 2vh;
    right: 1vh;
    padding: 40px 24px;
    background-color: #F5F4FF;
    margin: 0px 0px;
    border-radius: 4px;

}

.checkInList:first-child {
    margin-bottom: 64px;
}



/* Backgrounds */
/*.bgFur {
    background-image: url(assets/fur_background.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/

.bgAngle {
    background-image: linear-gradient(183.5deg, #ffffff 69%, #98B5FF 69%);
    background-position: bottom left;
    background-attachment: fixed;
}





/* Containers */
div.block {
    display: block;

}

.center {
    justify-content: center;
    text-align: center;
}

.centerAlign {
    align-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.bgColor {
    background-color: #f5f4ff;
}


.fullHeight {
    height: 100vh;
}

.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexColCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}







/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cancelLink {
    color: blueviolet;
    text-decoration: underline;
    float: inline-end;
}

.cancelLink:hover {
    color: red;
}

/*  -----------------------------------------------------------------------------------*/
/*  --------------------------------------------------------MEDIA QUERIES--------------------------------------------------------*/
/*  -----------------------------------------------------------------------------------*/


/*  ------------------------------------------SMALL DESKTOP------------------------------------------*/



/*  ------------------------------------------MEDIUM DESKTOP------------------------------------------*/



/*  ------------------------------------------LARGE DESKTOP------------------------------------------*/